<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @catalog.vendor %>
</p>

<p>
  <strong>Product:</strong>
  <%= @catalog.product %>
</p>

<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
