<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<%= @vendor.products.each do |product| %>
<p>
  <strong>Product: </strong>
  <tr>
      <td><%= product.name %></td>
    <br>
  </tr>
</p>
<p>
  <strong>Price: </strong>
  <tr>
    <td><%= product.price %></td>
    <br>
  </tr>

</p>
<% end %>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
